<div class="hidden-xs" id="googlemaps">
  <div id="map-canvas"></div>
</div>

<div class="container" style="margin-top: 20px">



<%	 if signed_in? %>


    <%	event = ActiveSupport::JSON.decode(open("https://graph.facebook.com/#{@micrositio.uid}/events?fields=location,cover,name,description,picture,venue&access_token=#{current_user.oauth_token}").read) %>
    <% event['data'].each do |result| %>
        <% unless Evento.exists?(uid: result['id'])   %>
            <%	 if Rails.env.development? %>
                <%
                   conn = PG.connect(:dbname => 'ntlcom_dev')
                   conn.prepare('statement1', 'INSERT INTO eventos (uid, name,  description, lat, lng, imagen, city, slug, micrositio_id) values ($1, $2, $3, $4, $5, $6, $7, $8, $9)')
                   conn.exec_prepared('statement1', [ result['id'], result['name'],result['description'],result['venue']['latitude'],result['venue']['longitude'],result['cover']['source'], result['location']['city'], result['name'].parameterize, result['venue']['id'] ])
                %>
            <%	 else %>
                <%
                   conn = PG::Connection.new(:dbname => 'd2roibus5os3io', :host => 'ec2-54-204-21-178.compute-1.amazonaws.com', :user => 'osdnvffmzogwhj', :password => 'uSCN8IqQulVTUP7j-ZVDxPYAjX', :port => '5432', :sslmode => 'disable')
                   conn.prepare('statement1', 'INSERT INTO eventos (uid, name,  description, lat, lng, imagen, city, slug, micrositio_id) values ($1, $2, $3, $4, $5, $6, $7, $8, $9)')
                   conn.exec_prepared('statement1', [ result['id'], result['name'],result['description'],result['venue']['latitude'],result['venue']['longitude'],result['cover']['source'], result['location']['city'], result['name'].parameterize, result['venue']['id'] ])
                %>
            <%	 end %>
        <%	 end %>
    <%	end  %>


    <%	place = ActiveSupport::JSON.decode(open("https://graph.facebook.com/#{@micrositio.uid}?fields=picture.width(250),photos,likes,hours,name,posts,location,were_here_count,talking_about_count,description&access_token=#{current_user.oauth_token}").read) %>

    <div class="col-md-6 col-sm-6 col-xs-6 border" style="margin: 20px 0px 20px 0px" >
      <div class="row" style="margin-bottom: 10px; padding-top: 20px" >
        <div class="col-md-5 col-xs-12">
          <div class="img-responsive">
            <%	 if place['picture'].nil?  %>
            <%	else  %>
                <div class="img-responsive" style="height: 350px; overflow: hidden">
                  <%= image_tag(place['picture']['data']['url'])   %>
                </div>
            <%	end  %>
          </div>
        </div>
        <div class="col-md-7 col-xs-12">
          <h1> <%= place['name']	  %></h1>
          <h4> <%= place['location']['street']	  %></h4>
          <h4> <%= place['location']['city']	  %></h4>
          <h4> <%= place['location']['country']	  %></h4>
          <h5> <p style="font-weight: bold; font-size: 16px"> <%= place['were_here_count']  %>   persons where here.</p> </h5>
          <h5> <p style="font-weight: bold; font-size: 16px"> <%= place['talking_about_count']  %>   are talking about this place.</p> </h5>
          <h5> <p style="font-weight: bold; font-size: 16px"> <%= place['likes']  %>  likes in Facebook.</p> </h5>

        </div>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 border" style="margin: 0px 0px 20px 0px" >
      <div class="row" style="margin-bottom: 10px; padding-top: 20px" >
        <div class="col-md-8 col-xs-12">

          <h2>Eventos</h2>
        </div>
            <% unless @micrositio.eventos.nil? %>
                <%	 @micrositio.eventos.last(2).each do |evento| %>
                <div class="col-md-6">
                      <div class="img-responsive" style="text-align: center;">
                        <%=link_to(image_tag(evento.imagen, style: "max-width: 100%"), evento) %>
                      </div>
                      <h5 style="margin-left: 30px; color: #3c598c"> Nombre: <%= link_to evento.name, evento	  %></h5>
                </div>
                <%	 end %>

            <%	end  %>

        <div class="col-md-7 col-xs-12">


        </div>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 border" style="margin-bottom: 15px">
      <div class="row">
        <div class="col-md-8 col-xs-12">

          <h2>Description</h2>
          <p> <%= place['description']	  %></p>
        </div>
        <div class="col-md-4 col-xs-12">

          <%	 if place['hours'].nil?  %>
          <%	else  %>
              <h2>Hours</h2>
              <% place['hours'].each do |x|  %>
                  <%= x  %>
                  <br/>
              <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 border" style="margin-bottom: 15px">
      <div class="row" style="margin-top: 20px">
        <div class="col-md-5 col-xs-12">
          <%	 if place['photos'].nil?  %>
          <%	else  %>
              <h2>Recently photos</h2>
              <br/>
              <% place['photos']['data'].first(4).each do |x|  %>
                  <div class="row">
                    <div class="img-responsive" style="overflow: hidden">
                      <%	 if x['source'].nil?  %>
                      <%	 else %>
                          <%= image_tag(x['source'], class: "micrositiophotos")  %>
                      <%	 end %>
                    </div>
                  </div>
              <%	 end %>
          <%	 end %>
        </div>
        <div class="col-md-7 col-xs-12">
          <%	 if place['posts'].nil?  %>
          <%	else  %>
              <h2>Posts</h2>
              <% place['posts']['data'].first(6).each do |x|  %>
                  <div class="row">
                    <div class="col-md-4 col-xs-4">
                      <div class="img-responsive" style="overflow: hidden; height: 100px">
                        <%= image_tag(x['picture'], class: "micrositiopostphotos")  %>
                      </div>
                    </div>
                    <div class="col-md-8 col-xs-8">
                      <%= x['message']  %>
                    </div>
                  </div>
                  <hr/>
              <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 border" >
      <div class="fb-comments" data-href="<%=request.original_url%>" data-numposts="10" data-width= "280"></div>
    </div>
<% else %>


      <div class="col-md-7 col-sm-7 col-xs-7 border" style="margin: 20px 0px 20px 0px" >
        <div class="row" style="margin-bottom: 10px; padding-top: 20px" >
          <div class="col-md-5 col-xs-12">
            <div class="img-responsive">
              <%	 if @micrositio.imagen.nil?  %>
              <%	else  %>
                  <div class="img-responsive" style="height: 350px; overflow: hidden">
                    <%= image_tag(@micrositio.imagen)   %>
                  </div>
              <%	end  %>
            </div>
          </div>
          <div class="col-md-7 col-xs-12">
            <h1> <%= @micrositio.name	  %></h1>
            <h4> <%= @micrositio.city  %></h4>
            <h5> <p style="font-weight: bold; font-size: 16px"> -----  persons where here.</p> </h5>
            <h5> <p style="font-weight: bold; font-size: 16px"> -----   are talking about this place.</p> </h5>
            <h5> <p style="font-weight: bold; font-size: 16px"> ----- likes in Facebook.</p> </h5>

          </div>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 border" style="margin-bottom: 15px">
        <div class="row">
          <div class="col-md-8 col-xs-12">

            <h2>Description</h2>
            <p> <%= @micrositio.description	  %></p>
          </div>
          <div class="col-md-4 col-xs-12">


          </div>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 border" style="margin-bottom: 15px">
        <div class="row" style="margin-top: 20px">
          <div class="col-md-5 col-xs-12">
            <%	 if @micrositio.imagen.nil?  %>
            <%	else  %>
                <h2>Recently photos</h2>
                <br/>

            <%	 end %>
          </div>
          <div class="col-md-7 col-xs-12">

          </div>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 border" >
        <div class="fb-comments" data-href="<%=request.original_url%>" data-numposts="10" data-width= "280"></div>
      </div>


<% end %>



  <script>
      $(document).ready(function () {
          var myLatlng = new google.maps.LatLng(<%= @micrositio.lat  %>,<%= @micrositio.lng %>);
          var centerlat = new google.maps.LatLng(<%= @micrositio.lat.to_d - 0.02  %>,<%=   @micrositio.lng.to_d - 0.05 %>);
          var mapOptions = {
              zoom: 13,
              center: centerlat,
              scrollwheel: false,
              navigationControl: false,
              mapTypeControl: false,
              scaleControl: false,
              mapTypeControl: false,
              panControl: false,
              rotateControl: false,
              scaleControl: false,
              streetViewControl: false,
              zoomControl: false,
              tilt: 45
          }
          var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

          <% i = 0 %>
          var locations = [
              ['<%= @micrositio.name %>', <%= @micrositio.lat  %>,<%= @micrositio.lng %>, <%= i = i + 1 %>],
          ];
          var infowindow = new google.maps.InfoWindow();
          var marker, i;
          for (i = 0; i < locations.length; i++) {
              marker = new google.maps.Marker({
                  position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                  map: map
              });

              google.maps.event.addListener(marker, 'mouseover', (function(marker, i) {
                  return function() {
                      infowindow.setContent(locations[i][0]);
                      infowindow.open(map, marker);
                  }
              })(marker, i));

              google.maps.event.addListener(marker, 'mouseout', (function(marker, i) {
                  return function() {
                      infowindow.close();
                  }
              })(marker, i));
          }
      });
  </script>

</div>
