<div class="col-md-12">

    <div class="col-md-1 col-md-offset-2"  >
      <button onclick="getLocation()" class="transparent" style= "margin-top: 60px; margin-left: 50px"><i class="fa fa-2x fa-location-arrow"></i></button>
    </div>

    <div class="col-md-8">
    <%= form_for(current_user) do |f| %>




          <%= f.hidden_field :lat, id: "lat" %>
          <%= f.hidden_field :lng, id: "lng" %>
        <div class="col-md-12  col-xs-12">
        <h4>Please update your location to show you nice places around you</h4>
          <br/>
          <div class="col-md-9 control-group">
            <%= text_field_tag :location_search, nil, class: "search-query", type: "search" %>
          </div>

          <div class="col-md-3 control-group ">
            <%= f.submit "Save Location", class: 'btn-success' %>
          </div>
          <%= render partial: "googlemap" %>
        </div>


    <% end %>
    </div>
</div>