
<%	 if signed_in? %>
    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 20px">
      <div class="row" style="background-color: #593e73; border-radius: 5px; padding: 15px;  margin-top: -10px; ">
        <div class="col-md-6 col-sm-6 hidden-xs">
          <h1 style="color: #ffffff">Events </h1>
        </div>
        <div class="visible-xs col-xs-6">
        </div>
      </div>
    </div>
    <%	fbevents = ActiveSupport::JSON.decode(open("https://graph.facebook.com/search?q=summer&type=event&fields=cover,name,location&center=#{current_user.lat},#{current_user.lng}&distance=50000&access_token=#{current_user.oauth_token}&limit=20").read) %>
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="border: 1px solid #d3d6db; " >
      <% fbevents['data'].each do |result| %>

          <div class="row" style="margin-bottom: -15px;  margin-top: -10px">
            <div class="col-md-3 col-sm-3 col-xs-4">
              <%	 if result['cover'].nil?  %>
              <%	else  %>
                  <div class="img-responsive" style="height: 110px; overflow: hidden">
                    <%=  image_tag(result['cover']['source']) %>
                  </div>
              <%	end  %>
            </div>
            <div class="col-md-7 col-sm-7 col-xs-8" style="padding: 0 !important;">
              <div class="col-md-3 col-sm-6 col-xs-12 hidden-xs" style="padding: 0 !important; text-align: center ">
                <%= form_for(@evento) do |f| %>
                    <%= f.hidden_field :name, value: result['name'] %>
                    <%= f.hidden_field :referencefb, value: result['id'] %>
                    <%	 if result['cover'].nil?  %>
                    <%	else  %>
                        <%= f.hidden_field :photo_file_name, value: result['cover']['source'] %>
                    <% end %>
                    <%= f.submit result['name'], class: "btn-success" %>
                <% end %>
              </div>
              <div class="col-md-5 col-sm-3 hidden-xs" style="padding: 0 !important; text-align: center">
                <h6>Attending</h6>
              </div>
              <div class="col-md-4 col-sm-3 hidden-xs" style="padding: 0 !important; text-align: center">
                <h6>Friends that have been here</h6>
              </div>
              <div class="col-xs-12 visible-xs" style="padding:0 !important; margin-top: -10px; ">
                <div style="margin-top: 10px; margin-bottom: -15px">
                  <%= form_for(@evento) do |f| %>
                      <%= f.hidden_field :name, value: result['name'] %>
                      <%= f.hidden_field :referencefb, value: result['id'] %>
                      <%	 if result['cover'].nil?  %>
                      <%	else  %>
                          <%= f.hidden_field :photo_file_name, value: result['cover']['source'] %>
                      <% end %>
                      <%= f.submit result['name'], class: "btn-success" %>
                  <% end %>
                </div>
                <%	 if result['location'].nil?  %>
                <%	else  %>
                    <h6 style="font-size: 10px"><%= result['location']%></h6>
                <% end %>
                <h6 style="font-size: 10px">Friends attending </h6>

              </div>
            </div>
            <div class="col-md-2 col-sm-2 hidden-xs  ">
              <h6> Distance</h6>

            </div>
          </div>
          <hr/>

      <%	 end %>

    </div>

<% else %>
    <%=	 render "shared/ingresa" %>
<% end %>
