<%	 if signed_in? %>
    <%	place = ActiveSupport::JSON.decode(open("https://graph.facebook.com/#{@evento.referencefb}?fields=cover,name,location,description,start_time,end_time,parent_group,invited,posts&access_token=#{current_user.oauth_token}").read) %>
    <div class="col-md-12 col-sm-12 col-xs-12 border" style="margin-bottom: 15px" >
      <div class="row" style="margin-bottom: 10px; padding-top: 20px" >
        <div class="col-md-5 col-xs-12">
          <div class="img-responsive">
            <%	 if place['cover'].nil?  %>
            <%	else  %>
                <div class="img-responsive" style="height: 350px; overflow: hidden">
                  <%= image_tag(place['cover']['source'])   %>
                </div>
            <%	end  %>
          </div>
        </div>
        <div class="col-md-7 col-xs-12">

          <h1> <%= place['name']	  %></h1>

          <h5> <p style="font-weight: bold; font-size: 16px"> <%= place['were_here_count']  %>   persons where here.</p> </h5>
          <h5> <p style="font-weight: bold; font-size: 16px"> <%= place['talking_about_count']  %>   are talking about this place.</p> </h5>
          <h5> <p style="font-weight: bold; font-size: 16px"> <%= place['likes']  %>  likes in Facebook.</p> </h5>
          <div class="col-md-6" style="padding-top: 40px">
            <%= render 'follow_form' if signed_in? %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 border" style="margin-bottom: 15px">
      <div class="row">
        <div class="col-md-8 col-xs-12">

          <h2>Description</h2>
          <p> <%= place['description']	  %></p>
        </div>
        <div class="col-md-4 col-xs-12">


              <h2>Hours</h2>
              <% place['start_time']  %>

        </div>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 border" style="margin-bottom: 15px">
      <div class="row" style="margin-top: 20px">
        <div class="col-md-4 col-xs-12">
          <%	 if place['photos'].nil?  %>
          <%	else  %>
              <h2>Recently photos</h2>
              <% place['photos']['data'].first(4).each do |x|  %>
                  <ul >
                    <li>
                      <div class="img-responsive" style="overflow: hidden">
                        <%= image_tag(x['source'])  %>
                      </div>
                      <%= x['from']['name']  %>
                    </li>
                  </ul>
              <%	end  %>
          <%	end  %>
        </div>
        <div class="col-md-8 col-xs-12">
          <%	 if place['posts'].nil?  %>
          <%	else  %>
              <h2>Posts</h2>
              <% place['posts']['data'].first(6).each do |x|  %>
                  <div class="row">
                    <div class="col-md-4 col-xs-4">
                      <div class="img-responsive" style="overflow: hidden; height: 100px">
                        <%= image_tag(x['picture'])  %>
                      </div>
                    </div>
                    <div class="col-md-8 col-xs-8">
                      <%= x['message']  %>
                    </div>
                  </div>
                  <hr/>
              <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 border" >
      <div class="fb-comments" data-href="<%=request.original_url%>" data-numposts="10" data-width= "280"></div>
    </div>


<% else %>
    <%=	 render "shared/ingresa" %>
<% end %>






