<div class="row" style="margin-bottom: 20px;  ">
  <div class="col-md-5">
    <h1 style="color: #090909"><%= @categoria.name.capitalize %> </h1>
  </div>

    <div class="col-md-2 " style="padding-top: 40px">
      <%= render 'follow_form' %>
    </div>

    <div class="col-md-4" style="padding-top: 40px">
      <div class="fb-like" data-href="<%=request.original_url%>" data-height="The pixel height of the plugin" data-colorscheme="light" data-layout="box_count" data-action="recommend" data-show-faces="true" data-send="false"></div>
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="NTLmx" data-lang="es" data-size="large">Twittear</a>
      <div class="g-plusone" data-annotation="inline" data-width="120"></div>
    </div>
</div>

<hr>

<h2 style="color: #090909"> Actividades cercanas a ti   </h2>


<% @categoria.actividades.limit(10).order("RANDOM()").each do |f| %>

    <div class="thumbnail col-sm-12">
      <div class="col-md-4" >
        <% f.micrositios.take(1).each do |estado| %>
            <% if estado.photo_file_size? %>
                <%= link_to (image_tag estado.photo.url(:medium)), estado, class: "img-responsive" %>
                <div style="font-weight: bold; overflow: hidden"><%= link_to estado.name, estado		  %> </div>
            <% else %>
                <%= link_to (image_tag "https://s3.amazonaws.com/imagenes.notelimites/micrositios/photos/sitios/big/#{estado.photo_file_name}"), estado, class: "img-responsive"%>
                <div style="font-weight: bold; overflow: hidden"><%= link_to estado.name, estado		  %> </div>
            <% end %>
        <% end %>
      </div>
      <div class="caption col-md-7">
        <h3><%= link_to f.actividad, f %> </h3>
        <div class="row">
          <div class="col-md-3">
          </div>
          <div class="col-md-9">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p>
            <ul class="list-inline">
              <% f.micrositios.take(3).each do |estado| %>
                  <li class="thumbnail" style="width: 120px">

                    <% if estado.photo_file_size? %>
                        <%= link_to (image_tag estado.photo.url(:smallest), class: "img-responsive",:height => "100", alt: estado), estado %>
                        <div class="caption" style="font-weight: bold; overflow: hidden; color: #000000"><%=  estado.name.first(15)	  %> </div>
                    <% else %>
                        <%= link_to image_tag("https://s3.amazonaws.com/imagenes.notelimites/micrositios/photos/sitios/big/#{estado.photo_file_name}",:height => "100", class: "img-responsive", alt: estado), estado%>
                        <div class="caption" style="font-weight: bold; overflow: hidden; color: #000000"><%=  estado.name.first(15)  %> </div>
                    <% end %>
                  </li>
              <% end %>
            </ul>
            </p>
          </div>
        </div>
        <div class="row " style="margin-bottom: 10px; font-weight: bold">
          <div class="col-md-6 col-md-offset-8">
            <%=	 link_to "Ver más -->", f %>
          </div>
        </div>
      </div>
      <div class="col-md-1">
        <div class="row" style="margin-top: 5px">
          <div id="follow_form" >
            <% if current_user.followingestado?(f) %>
                <%= form_for(current_user.relationestados.find_by(followed_id: f), html: { method: :delete }) do |x| %>
                    <%= x.submit "Siguiendo", class: "btn " %>
                <% end %>
            <% else %>
                <%= form_for(current_user.relationestados.build(followed_id: f.id)) do |x| %>
                    <div><%= x.hidden_field :followed_id %></div>
                    <%= x.submit "Seguir", class: "btn  btn-primary" %>
                <% end %>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div >
            <%= f.followers.count%>
            Usuarios lo siguen
          </div>
        </div>
      </div>
    </div>

<% end %>




<div>
</div>