

<div class="container" style="margin-top: 100px">
<div class="row">

    <%= form_for @actividad do |f| %>
        <%= render 'shared/error_messages', object: f.object %>


        <%= f.label :name %>
        <%= f.text_field :name %>


        <%= f.submit "Sube tu actividad", class: "btn btn-large btn-primary" %>

    <% end %>
</div>
</div>
