




<!-- Sidebar -->
<div id="sidebar-wrapper">
  <%	 if current_user.admin? or current_user.editor? %>
  <%	 else %>
      <ul class="sidebar-nav" >
        <li class="active"  ><i ><%= link_to " Newsfeed", root_path %></i></li>
        <hr style="margin: 8px; margin-bottom: -10px">
        <li  style="margin-bottom: -20px !important;"><i > <%= link_to "Profile", current_user %></i></li>
        <li ><i > <%= link_to "Friends", users_path %></i></li>
        <hr style="margin: 8px">
        <h3  style="margin-bottom: -10px !important; margin-left: 20px"> Places</h3>
        <li  style="margin-bottom: -20px !important;"><i > <%= link_to "Nightclubs", actividades_nightclubs_path %></i></li>
        <li  style="margin-bottom: -20px !important;"><i > <%= link_to "Bars", actividades_bars_path %></i></li>
        <li  style="margin-bottom: -20px !important;"><i > <%= link_to "Restaurants", actividades_restaurants_path %></i></li>
        <hr style="margin: 8px; margin-bottom: -10px; margin-top: 30px">

        <li  style="margin-bottom: -20px !important;"><i > <%= link_to "Events", eventos_path %></i></li>

      </ul>
  <%	 end %>
</div>
