<%	loc = ActiveSupport::JSON.decode(open("https://maps.googleapis.com/maps/api/geocode/json?latlng=#{current_user.lat},#{current_user.lng}&result_type=locality&key=AIzaSyCxH3uvobKynTSs63CoAcTQSB0xzCRduCs").read) %>
<!-- top navbar -->
<div class="navbar navbar-fixed-top" role="navigation" style="padding-top: 0px; background-color: #f5f5f5">
  <div>
      <nav class="hidden-xs  ">
        <div class="col-md-12 col-sm-12" style="padding-top: 0px; margin-bottom: -45px" >
            <div class="col-md-4 col-sm-4" style="padding-top: 15px">
                    <%=	 render "users/form_google_topbar" %>
            </div>
            <%	 if loc['results'][0].nil? %>
            <%	 else %>
                <div class="col-md-8 col-sm-8" style="padding-top: 15px; margin-bottom: -45px" >
                  <h2 style="color: black"> <%= loc['results'][0]['address_components'][0]['short_name']  %> </h2>
                </div>
            <%	 end %>
        </div>
        <ul class="nav " style="margin-right: 5%; padding-top: 10px">
          <ul class="pull-right">
            <li id="fat-menu" class="dropdown">
              <% if current_user.photo_file_name.blank?  %>
                  <% if current_user.avatar.blank?  %>
                      <%= link_to image_tag("http://imagenes.notelimites.s3.amazonaws.com/users/default_user.png", class: "avatarchiquito"), current_user %>
                  <%	 else %>
                      <%= link_to image_tag("http://graph.facebook.com/#{current_user.uid}/picture?type=square", class: "avatarchiquito"), current_user %>
                  <% end %>
              <% else %>
                  <%= link_to image_tag(current_user.photo.url(:square), class: "avatarchiquito"), current_user  %>
              <%	 end %>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%=  current_user.name.first(20) %>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li role="presentation" ><%= link_to "Location", places_path, role: "menuitem" %></li>

                <li><%= link_to "Configuration", edit_user_registration_path(current_user) %></li>

                <li class="divider"></li>
                <li>
                  <%= link_to "Log out",  destroy_user_session_path, method: "delete" %>
                </li>
              </ul>
            </li>
          </ul>
        </ul>
      </nav>
  </div>
</div>

